$bpk-spacing-lg: 24px; 
$bpk-spacing-xl: 32px;
$bpk-spacing-xxl: 40px;
$bpk-spacing-base: 16px;
$bpk-spacing-sm: 8px;

$bpk-color-sky-blue: #00aaff; 
$bpk-color-light-blue: #99ccff; 
$bpk-color-white: #ffffff; 
$bpk-color-blue: #007aff; 
$bpk-color-light-gray: #f7f7f7; 
